<!-- Search bar starts -->

<div class="rounded-t-xl overflow-hidden p-10">
  <div class="w-full max-w-xl mx-auto">
    <div class="relative text-gray-400 focus-within:text-gray-600">
      <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
        <i-feather name="Search"></i-feather>
      </div>
      <input id="email" (keyup)="search($event)"
        class="py-3 px-4 bg-white placeholder-gray-400 text-gray-900 rounded-lg shadow-md appearance-none w-full block pl-12 focus:outline-none"
        placeholder="Search artist">
    </div>
  </div>
</div>

<!-- Search bar ends -->

<app-artist-card *ngIf="artists" [artistData]="artists"></app-artist-card>